body {
  background-color: #183dff;
  color: #ffffff;
}
.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar {
  height: 60px;
  background-color: #183dff;
  position: relative;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements il li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  margin: auto 10px;
  font-size: 16px;
  font-weight: 400;
  color: #b3aeae;
  text-decoration: none;
}
.nav-elements ul a.active {
  color: #ffffff;
  font-weight: 500;
  position: relative;
}
@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
.buttons {
  display: flex;
 
}
